NEXT_PUBLIC_API_URL=https://tiktok-live-be.onrender.com/api
NEXT_PUBLIC_TIKTOK_USERNAME=carot101093
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG92aW5nLXRlcm1pdGUtNDkuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_ME_ENDPOINT=/me/profile
