NEXT_PUBLIC_WS_URL="https://python-tiktok-comment.onrender.com"
NEXT_PUBLIC_TIKTOK_USERNAME=carot101093
NEXT_PUBLIC_SUPABASE_URL=https://nkcpumeixwfryibyqnow.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_K3Hgl71NLxA1BsoaiXiaJA_7-0gan9M